@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #868e96;
  line-height: 1;
}

.accordian {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
}
.open {
  border-top: 4px solid green;
}
.open .hidden-box {
  display: block;
}
.open p {
  color: #087f5b;
}
.number,
.text {
  font-size: 24px;
  font-weight: 500;
  color: #80858a;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}
.hidden-box {
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}
.hidden-box ul {
  color: #222831;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
